name: ShellCheck

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          # 只检查以 .sh 结尾的文件
          check_all_files_with_extensions: true
          additional_extensions: 'sh'
          severity: warning
        env:
          SHELLCHECK_OPTS: -x
