name: ShellCheck

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run ShellCheck
        run: |
          # 寻找当前目录下所有以 .sh 结尾的文件
          # 并通过 xargs 传给 shellcheck
          # -r 参数防止没有文件时报错，-x 支持联动检查
          find . -name "*.sh" -print0 | xargs -0 shellcheck -x --severity=warning
